#game_name {
    font-size: 10px;
    text-align: center;
    
}

#game_icon {
    text-align: center;
}

#game_icon img {
    
    height: 50px;
}

#Game.menu {
    
    flex-direction: row;

    flex-wrap: wrap;
    flex: 100px;

    
}

.card {
    margin: 10px 0 0 10px;
    
}
/* 쌋다.. */
@media screen and (max-width : 768px) {
    
    
}